@page "/cr"
@inject CR_VM ViewModel

<link href="css/cr.css" rel="stylesheet" />
<PageTitle>Новая заявка</PageTitle>

<Header NavItems="ViewModel.NavItems"/>
<div class="main">
    <div class="data-block">
        <h2>Новая заявка</h2>
        <p>Все обязательные для заполнения поля отмечены знаком <span style="color:red">*</span></p>
    </div>
    <div class="data-block">
        <h2>Контактные данные</h2>
        <div class="contacts">
            <label>
                Фамилия<span style="color:red">*</span>
                <input />
            </label>
            <label>
                Имя<span style="color:red">*</span>
                <input />
            </label>
            <label>
                Отчество
                <input />
            </label>
            <label>
                Телефон<span style="color:red">*</span>
                <input />
            </label>
            <label>
                Эл. почта
                <input />
            </label>
        </div>
    </div>
    <div class="data-block">
        <h2>Адрес</h2>
        <div class="address">
            <select>
                <option value="Vladimir">Владимирская область</option>
                <option value="Moscow">Московская область</option>
                <option value="Ivanovo">Ивановская область</option>
            </select>
            <label>
                Город<span style="color:red">*</span>
                <input />
            </label>
            <label>
                Улица<span style="color:red">*</span>
                <input />
            </label>
            <label>
                Дом<span style="color:red">*</span>
                <input class="short-input" />
            </label>
            <label>
                Квартира
                <input class="short-input" />
            </label>
        </div>
    </div>
    <div class="data-block">
        <h2>Тарифный план</h2>
        <div class="tariff">
            <div class="tariff-row">
                <select>
                    @foreach (var t in ViewModel.tariffs)
                    {
                        <option value="@t.TariffName">@t.TariffName</option>
                    }
                </select>
                <img src="images/question.png" @onclick="SeeTrfs" />
            </div>
            <div class="addons">
                <div class="addon">
                    <input type="checkbox" id="one" />
                    <label for="one">Видеонаблюдение</label>
                </div>
                <div class="addon">
                    <input type="checkbox" id="two" />
                    <label for="two">3 SIM (50 ГБ + 500 минут)</label>
                </div>
                <div class="addon">
                    <input type="checkbox" id="three" />
                    <label for="three">Яндекс Плюс</label>
                </div>
                <div class="addon">
                    <input type="checkbox" id="four" />
                    <label for="four">Литрес Книги</label>
                </div>
            </div>
        </div>
    </div>
    <div class="data-block">
        <h2>Время подключения</h2>
        <ScheduleComponent />
    </div>
    <div class="data-block">
        <div class="button-cnt">
            <button>Сохранить</button>
        </div>
    </div>
</div>
<Footer />

<TariffList isVisible="areTrfsVisible" isVisibleChanged="TariffVisibility" tariffs="ViewModel.tariffs" />

@code {
    private bool areTrfsVisible = false;

    protected override async Task OnInitializedAsync()
    {
        await ViewModel.InitializeAsync();
    }

    private void SeeTrfs() => areTrfsVisible = true;

    private void TariffVisibility() => areTrfsVisible = false;
}
