@page "/unit"

<link href="css/emp.css" rel="stylesheet" />
<PageTitle>Сотрудник</PageTitle>

<Header />
<div class="main">
    <div class="grid">
        <div class="head">
            <div class="left-cnt">
                <p>Зиновьев Руслан Николаевич</p>
                <p>+7 (905) 818 14 76 | zinoviev@gmail.com </p>
            </div>
            <div class="middle-cnt">
                <button class="edit">Изменить данные</button>
                <button class="delete">Удалить</button>
            </div>
            <div class="right-cnt">
                <img src="images/income.png" />
                <img src="new/stats.webp" />
            </div>
        </div>
        <div class="day">
            <img src="images/arrow-left.png" />
            <div class="today">
                <p class="num">8</p>
                <p class="month">Июл</p>
            </div>
            <img src="images/arrow-right.png" />
        </div>
        <div class="list">
            <p class="title">Назначено на 8 июля:</p>
            <div class="card">
                <div class="card-row">
                    <img src="images/time.webp" />
                    <p>15:30</p>
                </div>
                <div class="card-row">
                    <img src="images/location.png" />
                    <p>Какой-то там адрес, 28</p>
                </div>
            </div>
            <div class="card">
                <div class="card-row">
                    <img src="images/time.webp" />
                    <p>15:30</p>
                </div>
                <div class="card-row">
                    <img src="images/location.png" />
                    <p>Какой-то там адрес, 28</p>
                </div>
            </div>
            <div class="card">
                <div class="card-row">
                    <img src="images/time.webp" />
                    <p>15:30</p>
                </div>
                <div class="card-row">
                    <img src="images/location.png" />
                    <p>Какой-то там адрес, 28</p>
                </div>
            </div>
            <div class="card">
                <div class="card-row">
                    <img src="images/time.webp" />
                    <p>15:30</p>
                </div>
                <div class="card-row">
                    <img src="images/location.png" />
                    <p>Какой-то там адрес, 28</p>
                </div>
            </div>
        </div>
    </div>
</div>
<Footer />

@code {

}
