<style>
    .card {
        display: flex;
        flex-direction: column;
        width: 100%;
        border: 1px solid gray;
        border-radius: 10px;
        padding: 15px 50px;
        row-gap: 40px;
        cursor: pointer;
        box-sizing: border-box
    }

        .card:hover {
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        }

    .card-row {
        display: flex;
        justify-content: space-between;
    }

    .info {
        display: flex;
        overflow: hidden;
        justify-content: flex-start;
        align-items: center;
        column-gap: 20px
    }

        .info p {
            white-space: nowrap;
            font-size: 28px;
            font-weight: 600;
            margin: 0
        }

        .info img {
            width: 35px;
            height: 35px
        }

    @@media (max-width: 1920px) {
        .info p {
            font-size: 20px
        }

        .card {
            padding: 15px 30px
        }

        .info {
            column-gap: 15px;
        }

        .info img {
            width: 30px;
            height: 30px
        }
    }

    @@media (max-width: 1280px) {
        .info p {
            font-size: 15px;
        }

        .card {
            padding: 15px
        }

        .info {
            column-gap: 5px;
        }

        .info img {
            width: 20px;
            height: 20px
        }
    }

    @@media (max-width: 768px) {
        .info p {
            font-size: 14px
        }

        .card {
            row-gap: 20px;
            padding: 10px
        }

        .card-row {
            width: 100%;
            flex-wrap: wrap;
            row-gap: 20px
        }

        .info {
            width: 100%
        }
    }
</style>

<div class="card">
    <div class="card-row">
        <div class="info">
            <img src="images/location.png"/>
            <p>@(ab.Flat == null ? $"{@ab.Region}, г. {@ab.City}, ул. {@ab.Street} {@ab.House}" : $"{@ab.Region}, г. {@ab.City}, ул. {@ab.Street} {@ab.House}-{@ab.Flat}")</p>
        </div>
        <div class="info">
            <img src="images/schedule.webp"/>
            <p>@req.Scheduled.ToString("HH:mm", culture)</p>
        </div>
    </div>
    <div class="card-row">
        <div class="info">
            <img src="images/problem.webp"/>
            <p>Технические неполадки</p>
        </div>
    </div>
</div>

@code {
    [Parameter] public Abonent ab { get; set; }
    [Parameter] public Request req { get; set; }
    public System.Globalization.CultureInfo culture = new System.Globalization.CultureInfo("ru-RU");
}
