
.main {
    width: 100%;
    background-color: whitesmoke;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}

.grid {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 30px 0 0 0;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 30px;
}

.head {
    position: relative;
    display: flex;
    background-color: white;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    column-gap: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 30px 50px;
}

.left-cnt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 40px
}

    .left-cnt p {
        font-size: 24px;
        font-weight: 600;
        margin: 0
    }

.middle-cnt {
    display: flex;
    flex-direction: column;
    row-gap: 40px
}

    .middle-cnt .edit, .middle-cnt .delete {
        padding: 10px 20px;
        font-size: 18px;
        font-weight: 600;
        color: white;
        transition: 0.2s;
        border-radius: 10px;
        cursor: pointer
    }

    .middle-cnt .edit {
        background-color: darkgreen;
        border: 1px solid darkgreen;
    }

        .middle-cnt .edit:hover {
            background-color: darkolivegreen;
            border: 1px solid darkolivegreen
        }

    .middle-cnt .delete {
        background-color: red;
        border: 1px solid red
    }

        .middle-cnt .delete:hover {
            background-color: firebrick;
            border: 1px solid firebrick
        }

.right-cnt {
    position: absolute;
    height: calc(100% - 60px);
    right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

    .right-cnt img {
        height: 50px;
        width: 75px;
        cursor: pointer;
    }

.list {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 50px;
    padding: 30px 50px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

    .list .title {
        width: 100%;
        font-size: 22px;
        font-weight: 600;
        margin: 0
    }

    .list img {
        width: 300px;
        height: 135px
    }

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    width: calc((100% - 150px)/2);
    row-gap: 30px;
    height: max-content;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer
}

    .card:hover {
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    }

.card-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 30px
}

    .card-row img {
        height: 35px;
        width: 35px
    }

    .card-row p {
        margin: 0;
        font-size: 24px;
        font-weight: 600
    }


@media (max-width: 1920px) {
    .grid {
        width: 90%
    }

    .head {
        flex-direction: column;
        row-gap: 30px;
        padding: 20px;
    }

    .left-cnt {
        flex-direction: row;
        column-gap: 30px;
        row-gap: 20px;
        align-items: center
    }

        .left-cnt p {
            font-size: 15px
        }

    .middle-cnt {
        flex-direction: row;
        column-gap: 50px;
    }

    .right-cnt {
        position: relative;
        flex-direction: row;
        right: 0px;
        column-gap: 100px;
    }

    .list {
        padding: 30px;
        row-gap: 30px
    }

        .list .title {
            font-size: 20px
        }

        .list img {
            width: 200px;
            height: 90px
        }

    .card {
        width: 100%;
        padding: 15px;
        row-gap: 15px
    }

    .card-row {
        column-gap: 20px
    }

        .card-row p {
            font-size: 20px
        }

        .card-row img {
            height: 30px;
            width: 30px
        }
}

@media (max-width: 768px) {
    .grid {
        width: 95%
    }

    .head {
        flex-direction: column;
        row-gap: 20px;
        padding: 15px;
    }

    .left-cnt {
        flex-direction: column;
        height: max-content;
        align-items: center
    }

        .left-cnt p {
            font-size: 12px
        }

    .middle-cnt {
        flex-direction: column;
        row-gap: 20px;
        width: auto
    }

        .middle-cnt .edit, .middle-cnt .delete {
            padding: 5px 10px;
            font-size: 12px;
        }

    .right-cnt {
        position: relative;
        flex-direction: row;
        right: 0px;
        column-gap: 20px
    }

        .right-cnt img {
            height: 30px;
            width: 45px
        }

    .list {
        padding: 15px;
        row-gap: 20px
    }

        .list .title {
            font-size: 12px
        }

        .list img {
            width: 100px;
            height: 50px
        }

    .card {
        width: 100%;
        padding: 7px;
        row-gap: 7px
    }

    .card-row {
        column-gap: 10px
    }

        .card-row p {
            font-size: 12px
        }

        .card-row img {
            height: 20px;
            width: 20px
        }
}
