.main {
    overflow-y: auto;
    width: 100%;
    display: flex;
    background-color: whitesmoke;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 30px;
    padding: 0 0 10px 0;
    flex: 1
}

.schedule {
    background-color: white;
    width: 70%;
    padding: 40px;
    margin: 30px 0 0 0;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-sizing: border-box
}

.schedule-time {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center
}

    .schedule-time p, .time-cnt p {
        font-size: 28px;
        font-weight: 600;
        margin: 20px 0;
        white-space: nowrap
    }

.time-cnt {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px
}

.schedule-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-radius: 20px;
    box-sizing: border-box
}

    .schedule-row img, .schedule-time img {
        width: 35px;
        height: 35px;
        cursor: pointer
    }

.column-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

    .column-day p {
        font-size: 22px;
        font-weight: 500;
        margin: 10px 0
    }

.column-day .day, .column-day .selected-day {
    padding: 15px;
}

.column-day .day-short, .column-day .selected-day-short {
    padding: 15px 20px
}

    .column-day .day:hover, .column-day .day-short:hover {
        background-color: gainsboro;
        border-radius: 100%
    }

.column-day .selected-day, .column-day .selected-day-short {
    background-color: darkslateblue;
    border-radius: 100%;
    color: white
}

.req-list {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    row-gap: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-sizing: border-box
}

    .req-list img {
        width: 300px;
        height: 135px
    }

    .req-list p {
        margin: 0;
        font-size: 26px;
        font-weight: 600
    }

@media (max-width: 1920px) {
    .main {
        row-gap: 20px
    }

    .schedule, .req-list {
        width: 90%;
        padding: 30px
    }

    .schedule-time p, .time-cnt p {
        font-size: 20px;
    }

    .column-day p {
        font-size: 18px
    }

    .schedule-row img, .schedule-time img {
        width: 20px;
        height: 20px
    }

    .req-list p {
        font-size: 22px
    }

    .req-list img {
        width: 200px;
        height: 90px
    }
}

@media (max-width: 768px) {
    .main {
        row-gap: 20px
    }

    .schedule, .req-list {
        width: 95%;
        padding: 20px
    }

    .schedule-time p, .time-cnt p {
        font-size: 12px;
        margin: 7px 0
    }

    .time-cnt {
        column-gap: 10px
    }

    .schedule-row {
        padding: 0
    }

    .column-day p {
        font-size: 12px
    }

    .column-day .day, .column-day .selected-day {
        padding: 5px;
    }

    .column-day .day-short, .column-day .selected-day-short {
        padding: 5px 7px
    }

    .schedule-row img, .schedule-time img {
        width: 15px;
        height: 15px
    }

    .req-list p {
        font-size: 16px
    }

    .req-list img {
        width: 150px;
        height: 67.5px
    }
}