<style>
    .day, .day-lite {
        display: flex;
        width: 175px;
        height: max-content;
        padding: 10px 20px;
        background-color: white;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        box-sizing: border-box;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3)
    }

        .day img {
            height: 35px;
            width: 35px;
            cursor: pointer
        }

    .day-lite {
        width: 125px;
        border-radius: 5px;
        border: 1px solid gray;
        box-shadow: none;
        padding: 5px 10px
    }

        .day-lite img {
            height: 25px;
            width: 25px;
            cursor: pointer
        }

    .today, .today-lite {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        align-items: center;
    }

        .today .num, .today .month, .today-lite .num, .today-lite .month {
            margin: 0;
            font-weight: 600
        }

        .today .num {
            font-size: 40px
        }

        .today .month {
            font-size: 18px
        }

    .today-lite {
        row-gap: 10px
    }

        .today-lite .num {
            font-size: 26px
        }

        .today-lite .month {
            font-size: 12px
        }

    @@media(max-width: 1920px) {
        .day {
            width: 100%
        }

            .day img {
                height: 20px;
                width: 20px
            }

        .day-lite {
            width: 100px
        }

            .day-lite img {
                height: 20px;
                width: 20px
            }

            .today-lite .num {
                font-size: 20px;
            }

            .today-lite .month {
                font-size: 10px
            }
    }

    @@media(max-width: 768px) {
        .day, .day-lite {
            width: 100%
        }

        .today {
            row-gap: 10px
        }

            .today .num {
                font-size: 26px
            }

            .today .month {
                font-size: 12px
            }
    }
</style>

<div class=@(Lite ? "day-lite" : "day")>
    <img src="images/arrow-left.png" @onclick="() => { if (isClickable) Back(); }" />
    <div class=@(Lite ? "today-lite": "today")>
        <p class="num">@date.Day</p>
        <p class="month">@date.ToString("MMM", Culture.culture)</p>
    </div>
    <img src="images/arrow-right.png" @onclick="() => { if (isClickable) Forward(); }" />
</div>

@code {
    [Parameter] public DateTime date { get; set; }
    [Parameter] public bool isClickable { get; set; }
    [Parameter] public EventCallback RemoveDay { get; set; }
    [Parameter] public EventCallback AddDay { get; set; }
    [Parameter] public bool Lite { get; set; } = false;

    private void Back() => RemoveDay.InvokeAsync();
    private void Forward() => AddDay.InvokeAsync();
}
