<style>
    .request-popup {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        top: 30%;
        bottom: 30%;
        left: 35%;
        right: 35%;
        background-color: white;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
        box-sizing: border-box;
        border-radius: 5px;
        overflow-y: auto;
        z-index: 100
    }

    p {
        margin: 0;
        font-size: 16px;
        line-height: 24px
    }

    h2, h3 {
        padding: 10px 20px;
        margin: 0
    }

    h4 {
        margin: 0
    }

    div {
        padding: 0 20px;
        box-sizing: border-box;
    }

    .request-button-row {
        display: flex;
        column-gap: 30px;
        margin: 20px 0;
        width: 100%;
    }

        .request-button-row .request-start, .request-button-row .request-delay {
            padding: 10px 30px;
            border-radius: 5px;
            font-size: 16px;
            transition: 0.1s;
            cursor: pointer;
            color: white
        }

        .request-button-row .request-start {
            background-color: green;
            border: 1px solid green
        }

            .request-button-row .request-start:hover {
                background-color: olive;
                border: 1px solid olive
            }

        .request-button-row .request-delay {
            background-color: red;
            border: 1px solid red
        }

            .request-button-row .request-delay:hover {
                background-color: firebrick;
                border: 1px solid firebrick
            }

    .request-horizontal {
        position: relative;
        display: flex;
        align-items: center;
        column-gap: 20px;
        margin: 10px 0;
        width: 100%
    }

        .request-horizontal h2 {
            padding: 10px 0
        }

        .request-horizontal img {
            width: 32px;
            height: 32px
        }

    .request-description, .request-commentary {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin: 10px 0;
        padding: 5px 20px;
        row-gap: 10px
    }

    .request-description {
        background-color: lavender;
        border-radius: 10px
    }

    .request-commentary {
        border: 1px solid black;
        border-radius: 10px
    }

    .request-close {
        position: absolute;
        right: 10px;
        cursor: pointer
    }

    @@media(max-width: 1920px) {
        .request-popup {
            top: 20%;
            bottom: 20%;
            left: 20%;
            right: 20%
        }

        p {
            font-size: 12px;
            line-height: 18px
        }

        h2, h3 {
            padding: 6px 10px;
        }

        div {
            padding: 0 10px
        }

        .request-button-row {
            column-gap: 20px;
            margin: 10px 0;
        }

            .request-button-row .request-start, .request-button-row .request-delay {
                padding: 6px 20px;
                font-size: 12px
            }

        .request-horizontal {
            column-gap: 10px;
            margin: 6px 0;
        }

            .request-horizontal img {
                width: 24px;
                height: 24px
            }

        .request-description, .request-commentary {
            margin: 6px 0;
            padding: 5px 10px;
            row-gap: 6px
        }
    }

    @@media(max-width: 768px) {
        .request-popup {
            left: 5%;
            right: 5%
        }

        p {
            font-size: 12px;
            line-height: 18px
        }

        h2, h3 {
            padding: 7px 15px
        }

        div {
            padding: 0 15px
        }

        .request-button-row {
            column-gap: 20px;
            margin: 15px 0
        }

            .request-button-row .request-start, .request-button-row .request-delay {
                padding: 7px 20px;
                font-size: 12px
            }

        .request-horizontal {
            column-gap: 15px;
            margin: 7px 0
        }

            .request-horizontal h2 {
                padding: 7px 0
            }

            .request-horizontal img {
                width: 24px;
                height: 24px
            }

        .request-description, .request-commentary {
            margin: 7px 0;
            padding: 5px 15px;
            row-gap: 7px
        }
    }
</style>

<div class="request-popup">
    <div class="request-horizontal">
        <h2>Заявка №800455</h2>
        <img class="request-close" src="images/close.png" />
    </div>
    <div class="request-button-row">
        <button class="request-start">Начать</button>
        <button class="request-delay">Отложить</button>
    </div>
    <h3>Владимир, 850-летия 4Б, Кв. 8</h3>
    <h3>01.06 | 12:50</h3>
    <div class="request-horizontal">
        <img src="images/abonent.png" />
        <p>Шишкин Валерий Николаевич</p>
    </div>
    <div class="request-horizontal">
        <img src="images/problem.png" />
        <p>Нестабильное соединение </p>
    </div>
    <div class="request-description">
        <h4>Описание проблемы</h4>
        <p>Интернет не работает со вторника. Роутер перезагружал - не помогло</p>
    </div>
</div>

@code {

}