<style>
    .schedule {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 20px 0 0 0;
        row-gap: 30px
    }

    .option {
        display: flex;
        align-items: center;
        column-gap: 20px
    }

        .option input {
            accent-color: #CD5700;
            height: 20px;
            width: 20px;
            cursor: pointer
        }

    label {
        margin: 0;
        font-size: 24px;
        cursor: pointer
    }

    .date {
        width: 100%;
        display: flex;
        column-gap: 10px
    }

        .date select {
            font-size: 24px;
            width: max-content;
            cursor: pointer;
            padding: 5px 10px
        }

        .date p {
            margin: 0;
            font-size: 24px
        }

    @@media(max-width: 1920px) {
        .schedule {
            margin: 15px 0 0 0;
            row-gap: 20px
        }

        .option {
            column-gap: 15px
        }

            .option input {
                height: 15px;
                width: 15px
            }

        label {
            font-size: 18px
        }

        .date {
            column-gap: 7px
        }

            .date select {
                font-size: 18px;
                padding: 5px 10px
            }

            .date p {
                font-size: 18px
            }
    }

    @@media(max-width: 768px) {
        .schedule {
            margin: 10px 0 0 0;
            row-gap: 15px
        }

        .option {
            column-gap: 10px
        }

            .option input {
                height: 12px;
                width: 12px
            }

        label {
            font-size: 14px
        }

        .date {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: max-content;
            row-gap: 10px
        }

            .date select {
                font-size: 14px;
                padding: 5px 10px
            }
    }
</style>

<div class="schedule">
    <div class="option">
        <input type="radio" id="one" name="option" checked>
        <label for="one">Ближайшее доступное</label>
    </div>
    <div class="option">
        <input type="radio" id="two" name="option">
        <label for="two">Выбрать вручную</label>
    </div>
    <div class="date">
        <select>
            <option value="1">09</option>
            <option value="2">10</option>
            <option value="3">11</option>
        </select>
        <select>
            <option value="1">Июнь</option>
            <option value="2">Август</option>
        </select>
        <select>
            <option value="1">10</option>
            <option value="2">11</option>
            <option value="3">12</option>
        </select>
        <select>
            <option value="1">00</option>
            <option value="2">15</option>
            <option value="3">30</option>
            <option value="4">45</option>
        </select>
    </div>
</div>

@code {

}
